@font-face {
  font-family: Calibri;
  src: url(./Calibri1.eot);
}

@font-face {
  font-family: Calibri;
  src: url(./Calibri2.eot);
}

@font-face {
  font-family: Calibri;
  src: url(./Calibri3.woff2);
}

@font-face {
  font-family: Calibri;
  src: url(./Calibri4.woff);
}

@font-face {
  font-family: Calibri;
  src: url(./Calibri5.ttf);
}
