.purple-arrow {
  height: 125px;
}

.selfportrait-figure,
.canvas-figure {
  height: 90%;
  overflow: visible !important;
}

.selfportrait-figure {
  margin-left: 50px;
  margin-right: 20px;
}

.canvas-figure > figcaption {
  font-size: 160%;
  text-shadow: 0px 0px 0.7px #000;
  margin-left: -25%;
  margin-bottom: 20px;
}
